section.container{
    border: 20px solid #000;
    margin-top: 50px;
    background-color: #fff;
}

[class^="col"]{
    height: 20px;
}

.curtain-light{
    background-color: #ab3118;
}

.curtain-dark{
    background-color: #962b15;
}

.black-bg{
    background-color: #000;
}

.hair{
    background-color: #f2f5a2;
}

.dark-skin{
    background-color: #c4ba96;
}

.skin{
    background-color: #f0e1ce;
}

.mantle{
    background-color: #171513;
}

.green-suit{
    background-color: #28b55c;
}

.red-suit{
    background-color: #ff3029;
}

.yellow-suit{
    background-color: #f5db36;
}

.dark-green-suit{
    background-color: #13542b;
}

.yellow-curtain{
    background-color: #c79e18;
}

.yellow-dark-curtain{
    background-color: #997912;
}

.boots{
    background-color: #362920;
}

.boots-shadow{
    background-color: #171513;
}

.floor{
    background-color: #6b1f0f;
}

.dark-grey{
    background-color: #211f1e;
}

.grey{
    background-color: #4f4b48;
}

.light-grey{
    background-color: #807974;
}

.iron-bar{
    background-color: #3b3736;
}

.sky{
    background-color: #918785;
}

.mask-profile{
    background-color: #d4d4d4;
}

.blue-shirt{
    background-color: #3530ba;
}

.dark-blue-shirt{
    background-color: #272387;
}

.chainsaw-profile{
    background-color: #ba5820;
}

.chainsaw-body{
    background-color: #f07229;
}

.chain{
    background-color: #bab3af;
}

.chain-tooth{
    background-color: #ede4df;
}

.chainsaw-floor{
    background-color: #aba39b;
}

.duck-bg{
    background-color: #5bbe80;
}

.duck-body{
    background-color: rgb(255, 196, 0);
}

.boolean-green{
    background-color: #00e165;
}

.boolean-blue{
    background-color: #001533;
}

.umbreon.container{
    border: 20px solid beige;
    background-color: beige;
}

.umbreon-body{
    background-color: #4a4a4a;
}

.umbreon-body-shadow{
    background-color: #282828;
}

.energy{
    background-color: #16bfff;
}

.energy-shadow{
    background-color: #17a3e7;
}

.umbreon-eye{
    background-color: #f4f345;
}

.umbreon-eye-shadow{
    background-color: #bb7719;
}

.umbreon-ears{
    background-color: #5e5e5e;
}

